table{
    width: 100%;
    font-weight: 500;
    border-collapse: collapse;
}

th{
    background-color: dodgerblue;
    color: white;
    letter-spacing: 1px;
    padding: 12px 5px;
    text-align: left;
}
td{
    padding: 10px 5px;
    text-align: left;
    
}
tr:nth-child(even){
    background-color: gainsboro;
}
tr:hover{
    background-color: #ddd;
}